
<div class="login-page">
    <div class="welcome">
        <h1>¡Bienvenido al Chat de Arquitectura de Sistemas de Software!</h1>
    </div>
    <div class="description">
        <h2>Elige un usuario para ingresar al chat</h2>
    </div>
    <form id="form" action="#">
        <input class="username" type="text" name="username" placeholder="Escribe aquí­ tu usuario..." />
        <button class="submit-button" type="submit">Ingresar</button>
    </form>
    
</div>

<div id="joke">
        
</div>
<div class="welcome-user">

</div>
<h1 hidden id="message-title">Sala de Chat</h1>
<div hidden class="board"> 
    <table id="table">
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>
</div>
<div hidden class="users">
    <table id="users-list">
        <tbody>

        </tbody>

    </table>
    
</div>

<div hidden class="controls">
    <input class="message" type="text" name="message" placeholder="Escribe aquí­..." />
    <button class="send-button" type="submit">Enviar</button>
</div>

<div hidden class="pages">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item active" data-page="1">
                <a class="page-link" href="#"><span class="page-link">1</span></a>
            </li>
        </ul>
            
    </nav>
</div>
    

